#container{
    background-color: rgb(22, 21, 21);
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.component1-div{
    margin: 1rem auto;
    background-color: rgb(47, 143, 207);
    text-align: center;
    width: 50vh;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.component1-div:hover{
    transform: scale(1.05);
}

li{
    font-size: 1.6rem;
    margin: 0.3rem 0;
    list-style: none;
}