*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../assets/img/city.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;

  color: white;
}

/* TABLET */
@media (max-width: 1024px){
  body{
    background-position: center;
  }
}

/* CELULAR */
@media (max-width: 768px){
  body{
    background-position: top; /* mostra mais da imagem */
    background-attachment: scroll; /* evita travamento */
  }
}

/* CELULAR PEQUENO */
@media (max-width: 480px){
  body{
    background-size: cover;
    background-position: top;
  }
}